* {
    padding: 0 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: white;
    background-color: #1F2937;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 444px;
}

.titlesub {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 444px;
}

.headerbody {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

img {
    max-height: 200px;
    margin-left: 40px;
}

button {
    margin-top: 20px;
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}

.boxes {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.section2 {
    margin: 50px;
    text-align: center;
}

.box {
    width: 150px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 200px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.section4 {
    padding: 88px 177px;
}

.call-action {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 33px 77px;
}

.call-action-button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid white;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: flex-end;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}